.contact{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #EDEDED;

    h2{
        margin-top: 0px;
    }

    .contact-form{
        background-color: white;
        display: flex;
        align-items: center;
    }

    input{
        margin-bottom: 30px;
        height: 40px;
        width: 100%;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
}