header.g-header
	nav.g-header_nav
		ul.g-header_nav_left
			//-Block === g-header
			//-Element === g-header_Elemento
			//-Modifier === g-header_Elemento_modifier

			//- h1 to h6
			//- p, strong, em, y, super, etc...

			//- tittle, buttons, inputs (texto), textarea (GENEREALES O GLOBALES).


section.slide

section.b1.g-padding-top.g-padding-bottom
	.container-fluid
		h2.g-title OUR PROYECTS
		.row
			.col-md-6.col-sm-12
				.b1-p
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint similique, culpa labore corporis possimus quod amet nulla, voluptatum voluptatem sed quae assumenda consectetur quis voluptatibus repellat praesentium, unde a! Cum!

					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint similique, culpa labore corporis possimus quod amet nulla, voluptatum voluptatem sed quae assumenda consectetur quis voluptatibus repellat praesentium, unde a! Cum!
			.col-md-6.col-sm-12
				img([src]='video')
				button.btn.btn-danger View All >
section.b2
	h2.g-title MORE THAN A DREAM
	.content
		.row
			h3 A Unique Approach to Home Remodeling
			p Using only quality materials, professional servixes and up to date construction methods. We can accommodate any project, from construction of a new property to the renovation of existing residential and commercial properties.
			.container
				.row
					.mcbImg
					.box
						p We'll work with you from concept through construction to ensure your home is exactyle the way you imagined it.
						button.btn.btn-default View Gallery
section.b3
	.content
		.row
			.col-md-6
				img([src]="phone")
			.col-md-6
				.row
					h2 Plan
				.row
					h2#ctrl Control
				.row
					h2#exec Execute
section.b4
	h2.g-title REALIZE YOUR VISION
	.content
		h3 Our Service
		.row
			.col-md-6#image
				img([src]="ryv")
			.col-md-6
				.ryvctn
					p Your home is defined by more than its physical dimension. It's an extension of you and your family and a reflection of your nique character.
					p Modern Concept Builders, Inc prides that we can accommodate any project be it large or mdall. We are committed to producing work of the highest standard.
					p Experienced, licenced and fully insured, we are the builders who collaborate with our clients from day one and guide the process from concept to completion.
section.b5
	.row
		.form
			form
				h4 Get Fresh News and Promo Codes
				input.emailpromo(type="email",  name="email", placeholder="Your email address")
				input#btn-scb.btn.btn-danger(type="submit", name="submit", value="Suscribe")
section.b6
	h2.g-title Contact Us
	.content
		h3 Get in touch with us
		form#contactForm
			.row
				.col-md-8.contact-form
					.col-md-6
						input(type="text", name="name", placeholder="Name")
						input(type="email", name="email", placeholder="Email")
						input(type="number", name="phone", placeholder="Phone")
					.col-md-3
						textarea(name="message", cols="30", rows="10", form="contactForm", placeholder="Your message...")
						input(type="submit", name="submit", value="Send")
				.col-md-3
footer.g-footer